.dialog {
    padding: 20px 20px 0 20px;

    &__input {
        margin-bottom: 10px;
    }

    &__error {
        width: 100%;
        min-height: 20px;
        margin-bottom: 20px;
        color: red;
        font-size: 1.1rem;
    }
}